---
import Bio from '../components/resume/Bio.astro';
import Contact from '../components/resume/Contact.astro';
import Section from '../components/resume/Section.astro';
import Technologies from '../components/resume/Technologies.astro';
import RODOClause from '../components/RODOClause.astro';
import Layout from '../layouts/Layout.astro';
import resume from '../data/resume.json';
---

<Layout title='Resume'>
    <div
        class='min-h-screen h-fit flex flex-col bg-100% m-0 mb-4 bg-fixed bg-no-repeat bg-zinc-100 bg-opacity-70 dark:bg-zinc-900 dark:bg-opacity-90 p-0 print:p-0 print:lg:p-0 print:md:p-0 print:sm:p-0 print:m-0 print:pt-12'
    >
        <div
            class='print:p-0 text-zinc-950 dark:text-zinc-300 flex flex-col justify-center items-start md:grid md:grid-cols-4 print:grid print:grid-cols-6 print:md:grid-cols-6'
        >
            <div
                class='min-h-screen h-full print:min-h-full md:border-r print:border-r border-zinc-800 dark:border-zinc-400 py-6 md:pr-12 print:pr-8 print:col-span-2 print:md:col-span-2 relative'
            >
                <Bio
                    name={resume.bio.name}
                    jobTitle={resume.bio.jobTitle}
                    picDescription={resume.bio.picDescription}
                />
                <Contact
                    email={resume.contact.email}
                    phone={resume.contact.phone}
                    website={resume.contact.website}
                    location={resume.contact.location}
                    githubName={resume.contact.githubName}
                    githubURL={resume.contact.githubURL}
                    linkedInName={resume.contact.linkedInName}
                    linkedInURL={resume.contact.linkedInURL}
                />
                <Section
                    title='Education'
                    type='list'
                    isLast
                    listItems={resume.education}
                />
                <Technologies technologies={resume.technologies} />
                <RODOClause className='absolute bottom-5' />
            </div>
            <div
                class='md:col-span-3 print:col-span-4 print:md:col-span-4 md:ml-12 print:ml-8 md:py-6 pr-0'
            >
                <Section
                    title='Bio'
                    type='description'
                    description={resume.bioDescription}
                />
                <Section
                    title='Experience'
                    type='list'
                    listItems={resume.experience}
                    isLast
                />
            </div>
        </div>
    </div>
</Layout>
